html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{border:0;font-family: Arial, Helvetica, sans-serif;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;
outline:0;	padding:0 0 0 0;vertical-align:baseline;}

a{text-decoration: none;}
a:hover{text-decoration: underline;}

body
{
	background:lightgray;
}

#geral{width: 960px; height:auto;min-height: 600px;margin: 0 auto;}
#topo{width: 100%; height: 190px; float: left; position: relative; background: #eee}
#logo{width: 250px; height: 154px;position: absolute;top: 18px; left: 10px;}

#menu{list-style: none;width: 960px;height: 40px; background:#000; float: left; position: relative; text-align: center;}
#menu li{display: inline-block;}
#menu li a{color:#eee; font-size: 18px; display: inline-block;padding:10px;}

#conteudo{width:960px;height:auto;min-height: 500px; float: left; position: relative;}
#coluna-01{width: 640px;padding: 5px 0; height: auto;background:#ccc;min-height: 800px; position: relative; float: left;}
#coluna-02{width: 300px; height: auto;background:#666;min-height: 800px; position: relative; float: left; padding: 10px;}

#busca, #frases{width: 300px; float: left;position: relative;background: #000;}
#busca{height: 70px;margin-bottom: 10px;}

#busca form{width: 280px; font-size: 14px;float:left;position: relative;height:auto;padding:10px;letter-spacing:1px;}
#busca form label{display: block;width: 280px;float: left;position: relative;font-size: 16px;padding: 5px 0; color: #fff}
#busca input{position: relative;float: left;height: 20px;border:none;}
#busca input[type=text]{width: 220px;background: #ccc; font-size: 13px;padding: 0 0 0 5px; margin: 0 5px 0 0;}
#busca input[type=submit]{width: 50px;font-size: 12px;padding: 3px 0;background: #deded8; color: #333; font-weight: bold;}

#frases{height: auto;min-height: 620px; padding: 15px 0 20px;}
#frases h1{color: #eee;width: 100%;padding-top: 10px; font-size: 25px;text-align: center;letter-spacing: 3px;float: left; 
		position: relative;font-family: "Times New Roman";}
#frases h2{color: #fff;width: 100%;padding: 0;font-size: 12px;text-align: center;letter-spacing: :3px; float: left; 
		position: relative;}
#frases ul{width: 280;padding: 15px 10px; list-style: none;color: #fff;font-size: 14px;letter-spacing: 1px; float: left;
		position: relative;}
#frases	ul li{float: left;position: relative;width: 270px;padding: 15px 5px 20px; border-bottom: dotted 1px #ffc;}
#frases ul li span{display: block;font-size: 11px;padding: 1px;text-align: right;font-style: italic;}
#frases a{display: block;text-align: center;color: #eee;font-size:16px;letter-spacing: 3px;height: auto;
		font-family: "Times New	Roman"}
#rodape{width:960px; background:#333; height: 300px; float: left; position: relative;}
#song{width: 500px;height: auto;position: absolute;top: 125px; left: 50%; margin-left: -250px}
#song h1{color: #ccc; font-size: 24px; text-align: center;padding: 5px 0; letter-spacing: 2px; 
		font-family: "Times New Roman"}
#song p{font-size: 15px; line-height: 18px;color: #fff;font-style: italic;text-align: center;padding: 10px 0; 
		letter-spacing: 1px;}

#desenvolvimento{display: block;width: 125px;height: 100px;float: right; position: relative;
				margin: 150px 30px 0 0; color: #fff; font-size: 12px; text-align: center;letter-spacing: 1px}
#desenvolvimento img{margin: 10px 0;}

/* ----------------------- Home ----------------------*/
#banner-home{float: left;position: relative;width: 620px;height: 340px; background: #000; padding: 20px 10px}
#banner-home img{width: 620px;height: 320px;position: absolute;}

#filmes-home{float: left;position: relative;width: 640px;min-height:400px; height:auto;background:#000; margin-top:10px}
#filmes-home h1{width: 600px; float: left;position: relative;letter-spacing: 4px;padding: 15px 20px;font-size: 30px;
			font-family: "Times New	Roman";color: #fff;}
#filmes-home ul{width: 640px;padding: 0 0 5px 0;list-style: none; float: left;position: relative;margin: 10px 0;}
#filmes-home ul li{width: 180px;height: 240px;padding: 15px 10px; float: left; position: relative;background: #ccc; 
			margin: 0 6px;}
#filmes-home ul li img{width: 130px; height: 200px;margin: 0 25px;}
#filmes-home ul li h2 > a{width: 180px;height: auto;text-align: center;color: #333;}
#filmes-home ul li h2 a{width: 180px; height: auto;text-align: center;color: #333;font-size: 12px;
			letter-spacing: 1px;font-weight: bold; padding: 5px 0;} 
#filmes-home a.mais{float: right;position: relative;text-align: right;width: 600px;padding: 0 20px; display: block;
					color: #fff;font-size: 18px;letter-spacing: 3px; font-family: "Time New Roman"}