CREATE PROCEDURE [dbo].[PROC_RECRIAORGANIZA_INDICE]
( @TABELA VARCHAR(255) )
AS
BEGIN
	DECLARE @INDICE VARCHAR(255),
			@FRAGMENT NUMERIC(20,2),
			@CMD VARCHAR(255)
	
	DECLARE CUR_INDICES CURSOR FAST_FORWARD FOR
	SELECT
		IND.NAME INDICE
		,AVG_FRAGMENTATION_IN_PERCENT
	FROM sys.dm_db_index_physical_stats  (DB_ID(), OBJECT_ID(@TABELA), NULL, NULL , '') IND_STAT
	LEFT JOIN SYS.INDEXES IND ON IND.OBJECT_ID = IND_STAT.OBJECT_ID AND IND.INDEX_ID = IND_STAT.INDEX_ID

	-- GERANDO CURSOR COM REGISTROS ALTERADOS
	OPEN CUR_INDICES
	FETCH NEXT FROM CUR_INDICES INTO @INDICE, @FRAGMENT

	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF @FRAGMENT > 30
		BEGIN
			-- RECRIA ÍNDICE
			SET @CMD = 'ALTER INDEX ' + @INDICE + ' ON ' + @TABELA + ' REBUILD  WITH ( PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, ALLOW_ROW_LOCKS  = ON, 
			ALLOW_PAGE_LOCKS  = ON, ONLINE = OFF, SORT_IN_TEMPDB = OFF )'
		END
		
		IF @FRAGMENT > 5 AND @FRAGMENT <= 30
		BEGIN
			-- REORGANIZA INDICE SENDO QUE MENOR QUE 5% NÃO VALE A PENA REFAZER
			SET @CMD = 'ALTER INDEX ' + @INDICE + ' ON ' + @TABELA + ' REORGANIZE WITH ( LOB_COMPACTION = ON )'
		END
		
		EXEC(@CMD)
		--PRINT(@CMD)
		
		FETCH NEXT FROM CUR_INDICES INTO @INDICE, @FRAGMENT
	END

	CLOSE CUR_INDICES
	DEALLOCATE CUR_INDICES
END
