@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>

    <a class="btn btn-primary btn-lg" href="@Url.Content("~/content/cat.jpg.thumb.axd?width=100&height=150&refpoint=2&crop=true")">TESTE THUMB</a>
    <a class="btn btn-primary btn-lg" href="@Url.Content("~/content/cat.jpg.transform.axd?resize=200x200&crop=location:60x60|size:60x60")">TESTE TRANSFORM</a>
</div>
