<?xml version="1.0"?>

<connectionStrings>
  <!-- SQL Server -->
 

  <add name="DefaultConnection" connectionString="Server=tcp:r18xpr4uka.database.windows.net,1433;Database=carteen;User ID=carteen@r18xpr4uka;Password=Root1234;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Persist Security Info=True" providerName="System.Data.SqlClient" />
    
       
  </connectionStrings>