@{
    ViewBag.ViewName = "Raxator - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul data-role="listview" data-split-theme="d">
    <li>
        <a href="@Url.Action("", "")" data-rel="dialog">
            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/p720x720/10991271_1070230066327902_6045428591244182002_n.jpg?oh=8d702c38e5b591cb577ff5355aa30bba&oe=55AEE807&__gda__=1441133484_b37161befd5bb6eeed9065da880f8ace" />
            <h3>Lucas Teles</h3>
            <p>Agência 0098</p>
            <p>Conta 09987 0</p>
            <p>Telefone 98765433</p>
        </a>
    </li>
    <li style="background-color:#060807">
        <span style="width:100px;color:white;" > Amigos</span>
    </li>

    <li>
     
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.0.160.160/p160x160/1487421_629372293776423_1059589896_n.jpg?oh=bb7f0f2db1ad7ef56e043654ec344250&oe=55E2A23F&__gda__=1437315341_7595ca3cfca36ee173370121fef2e4b0" />
        <h3>Neilton Rocha</h3>
        <p class="margemElemento">Telefone: 98766333</p>
        <p>Facebook www.facebook.com.br/neilton</p>
    </li>


    <li>
        <h3>Lucas Cé</h3>
        <p class="margemElemento">Telefone: 98766333</p>
        <p>Facebook www.facebook.com.br/LucasCe</p>
    </li>

    <li>
        <h3>Andre</h3>
        <p class="margemElemento">Telefone: 98766333</p>
        <p>Facebook www.facebook.com.br/Andre</p>
    </li>

    <li style="background-color:#060807">
        <span style="width:100px;color:white;"> Grupos</span>
    </li>

    <li>
        <a href="@Url.Action("", "")" data-rel="dialog">
            <h3>Futebol</h3>
            <p class="margemElemento" >Responsável Neilton</p>
            
        </a>
</li>

</ul>
<br />

