@{
    ViewBag.ViewName = "Raxator - Nova Senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EnterNewPassword", "Account", FormMethod.Post))
{
    <div data-role="fieldcontain">
        <label for="password-c">Senha:</label>
        <input type="password" name="password" id="password-c" value="" />
    </div>
    <div data-role="fieldcontain">
        <label for="confirm_password-c">Confirmar Senha:</label>
        <input type="password" name="confirm_password" id="confirm_password-c" value="" />
    </div>
    <button type="submit" data-theme="a" name="submit" class="ui-btn-hidden" aria-disabled="false">OK</button>
}