@{
    ViewBag.ViewName = "Raxator - Esqueci Minha Senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
{
    <div data-role="fieldcontain">
        <label for="email-c">Email:</label>
        <input type="text" name="email" id="email-c" value="" />
    </div>
    <button type="submit" data-theme="a" name="submit" class="ui-btn-hidden" aria-disabled="false">Enviar</button>
}